*{
    margin: 0%;
    padding: 0%;


}
.main{

    /* border: 10px solid black;
    height: 400px;
    width: 500px;  */
    /* text-align: center; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    text-shadow: 10px 10px 10px black;
    color: whitesmoke;
     
}


.name{
    text-align: center;
    padding-top: 50px;
    padding-right: 120px;
    font-size: x-large;
}
.age{
    text-align: center;
    padding-top: 20px;
    padding-right: 150px;
    font-size: x-large;
}
.gender{
    text-align: center;
    padding-top: 20px;
    padding-right: 97px;
    font-size: x-large;
}
.phone_number{
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    font-size: x-large;
}
.email{
    text-align: center;
    padding-top: 20px;
    padding-right: 120px;
    font-size: x-large;
}


.input_name{
    text-align: center;
    /* font-size: 100px; */
    

}
.input_age{
    text-align: center;
}
.input_gender{
    text-align: center;
}
.input_phone_number{
    display: flex;
    justify-content: center;
    
    /* align-items: center; */
}
.input_email{
    text-align: center;
    height: 50px;
    width: auto;
}
.reset{
    text-align: center;
    padding-left:270px;

}
.submit{
    text-align: center;
    padding-top: 10px;
    padding-left:150px;
    
}

.quote{
    text-align: center ;
    text-transform: capitalize;
    font-size: 20px;
    color: aliceblue;
    text-shadow: 10px 10px 10px black;
    
}


body{
    /* border: 50px solid rgb(0, 0, 0); */
    height: 100vh;
    width: auto;
    overflow: hidden;
    z-index: -1;
    background-image: linear-gradient(to right,black,grey);

}
header{
    display: flex;
    /* justify-content:flex-start; */
    padding-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 400%;
    text-shadow:10px 10px 10px  rgb(0, 0, 0);
    color: whitesmoke;
    
    
}
hr{
    width: auto;
    height: 10px;
    /* background-color: black; */
    background-image: linear-gradient(to right, black, rgb(255, 255, 255));
}
.main_screen{
    height: 90%;
    width: auto;
    background-image: linear-gradient(to right,rgb(185, 183, 183),black);
    margin: 2%;
    border-radius: 50px;


}
.content{
    display: flex;
    justify-content: center;
    
}
